.container {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
}

body {
    padding: 0;
    margin: 0; 
}

main {
    height: 100vh;
    background-color: #DCD2BE;
}

.logo img {
    width: 20em;
    padding: 15px;
}

.header {
    display: flex;
    height: 200px;
    flex: 1 100%;
    background-image: url("images/bg.jpg");
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid #532329;
 
}

.navigation {
    display: flex;
    flex-flow: row wrap; 
    flex: 1 100%;
    list-style: none; /* Removes bullet points */
    padding: 5px;
    margin: 0px;
    border-top: 2px solid #532329;
}

.navigation li {
    display: flex;
    align-items: center;
}

.navigation a {
    text-decoration: none; /* Removes underline */
    padding: 10px; 
    display: flex; /* Makes anchor fill li */
    color: black;
    align-items: center;
}

#login, #total{
    margin-left: auto;
}

li img {
    width: 25px;
    height: 25px;
    padding: 5px;
}
